<h1>Location</h1>
<% if current_user %>
  <h4><%= current_user.user_name %>, your journey begins here</h4>
<% else %>
  <h4>You want to party with the orcs, you gotta log in.</h4>
<% end %>


<%# <% @locations.each do |location| %>
<%# <%= render :partial => "layouts/location_card", :locals => {:location => location} %>
<%# <% end %>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
        <% if is_admin? %>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
  <%= link_to 'Edit', edit_location_path(@location) %>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
      </tr>
      <br>
    <% end %>
  </tbody>
</table>

<br>

  <p>Off in the distance you see <%= @npc.name %> fast approaching.</p>
  <%= render :partial => "layouts/npc_card", :locals => {:npc => @npc} %>

<% if is_admin? %>
<%= link_to 'New Location', new_location_path %>
<% end %>
