<h1><%= @location.name %></h1>
<h3><%= @location.description%></h3>

<%if @npcs.any? %>
  <h4>Characters:</h4>
<div class="row">
  <% @npcs.each do |npc| %>
  <%= render :partial => "layouts/npc_card", :locals => {:npc => npc} %>
  <% end %>
<% else %>
  <p>There are no characters in this region yet.</p>
<% end %>
</div>
<% if current_user && current_user.admin %>
  <%= link_to 'Edit', edit_location_path(@location) %>
  |
<% end %>
<%= link_to 'Back to Locations', locations_path %> |
<%= link_to 'Back to Game Overview', games_path %>


