<div class="col-sm-4">
  <div class="card m-1">
    <div class="card-body">
      <h5 class="card-title"><%= link_to npc.name, npc_path(npc) %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Race: <%= npc.race%></li>
      <li class="list-group-item">Charcter Class: <%= npc.character_class%></li>
      <li class="list-group-item">Hit Points: <%= npc.hit_points %></li>
      <li class="list-group-item">Disposition: <%= npc.disposition%>  </li>
    </ul>
  </div>
</div>