<!DOCTYPE html>
<html>
  <head>
    <title>LordOfTheGems</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Lord of the Gems</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <div style="margin-left:auto;">
                <% if current_user %>
                  <span class="nav-link"><%= link_to current_user.user_name , '/users/edit' %> | <%= link_to "Sign out", '/users/sign_out', :method => :delete %></span>
                <% else %>
                  <span class="nav-link"><%= link_to "Sign up", '/users/sign_up'%> | <%= link_to "Sign in", '/users/sign_in' %></span>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <%if flash[:alert] %>
        <div class="alert alert-danger mt-3" role="alert">
          <%= flash[:alert] %>
        </div>
      <%end%>
      <%if flash[:notice] %>
        <div class="alert alert-success mt-3" role="alert">
          <%= flash[:notice] %>
        </div>
      <%end%>
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
